<div class="starter">
  <div class="row">
    <div class="col-md-2 starter-left">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="./zones.html"><span class="glyphicon glyphicon-home"></span>基本信息</a></li>
        <li><a href="./zones_data.html"><span class="glyphicon glyphicon-tag"></span>价格</a></li>
        <li><a href="./zones_describe.html"><span class="glyphicon glyphicon-file"></span>描述</a></li>
        <li><a href="./zones_photo.html"><span class="glyphicon glyphicon-picture"></span>照片</a></li>
        <li><a href="./zones_info.html"><span class="glyphicon glyphicon-list-alt"></span>详细信息</a></li>
      </ul>
    </div>
    <div class="col-md-6 starter-center">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputEmail3" class="col-md-2 control-label">房源类型</label>
          <div class="col-md-7">
            <%= select_tag :spacesetting, options_for_select(@spacesetting.collect{ |s| [s.content, s.id] }, 1), class: "form-control" %>

          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-md-2 control-label">面向群体</label>
          <div class="col-md-7">
            <%= select_tag :user_group, options_for_select(@user_group.collect{ |group| [group.content, group.id]}, 1), class: "form-control" %>

          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-md-2 control-label">出租类型</label>
          <div class="col-md-7">
            <label class="checkbox-inline">
              <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              办公位
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1">
              独立隔间
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1">
              共用空间
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1">
              整租
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-md-2 control-label">入租人数</label>
          <div class="col-md-4">
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>以上</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-md-2 control-label">城市</label>
          <div class="col-md-4">
            <input type="email" class="form-control" id="inputEmail3" placeholder="上海">
          </div>
        </div>


        <div class="form-group">
          <div class="col-md-offset-2 col-md-5">
            <button type="submit" class="btn btn-default"><a href="./zones_data.html">继续</a></button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4 starter-right">
      <h1>Introductions</h1>
      <p class="lead"> Introductions, Introductions, Introductions, Introductions, Introductions</p>
    </div>
  </div>
</div>