<div class="foot">
  <hr >
  <div class="container">
    <ul class="list-inline">
      <li><%= link_to 'About', about_path %></li>
      <li>合作</li>
      <li>隐私</li>
      <li>网站地图</li>
    </ul>
    <footer>
      <p>&copy; 2013 FlySpaces</p>
    </footer>
  </div> <!-- /container -->
</div><!--end foot -->